{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
  <h1 style="color: #ffcc00;">Add Record</h1> <!-- Retro yellow color -->
  <br/>

  <form method="POST" action="{% url 'add_record' %}">
    {% csrf_token %}

    {{ form.as_p }}

    <br/>
    <button type="submit" class="btn btn-secondary" style="background-color: #8b4513;">Add Record</button> <!-- Retro brown color -->
    <a href="{% url 'home' %}" class="btn btn-secondary" style="background-color: #8b4513;">Back</a> <!-- Retro brown color -->

  </form>
</div>

{% endblock %}
