<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8b4513;"> <!-- Retro brown color -->
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color: #ffcc00;">Django CRM</a> <!-- Retro yellow color -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_record' %}" style="color: #ffcc00;">Add Record</a> <!-- Retro yellow color -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}" style="color: #ffcc00;">Logout</a> <!-- Retro yellow color -->
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}" style="color: #ffcc00;">Register</a> <!-- Retro yellow color -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}" style="color: #ffcc00;">Login</a> <!-- Retro yellow color -->
        </li>        
        {% endif %}
        
      </ul>
      
    </div>
  </div>
</nav>
